<div class="simple-list" style="position:relative;width:315px;height:600px; overflow-y:hidden;">
  {{#ember-collection
      items=items
      estimated-height=containerHeight
      estimated-width=containerWidth
      buffer=10
      cell-layout=(fixed-grid-layout itemWidth itemHeight)
      scroll-left=scrollLeft
      scroll-top=scrollTop
      scroll-change=(action "scrollChange")
      as |item index|}}
    <div class="list-item">
      <h2>{{item}}</h2>
    </div>
  {{/ember-collection}}
</div>
